nav.navbar {
  display: flex ;
  padding: 10vh 9vw ;
}

.navbar-desktop-links {
  display: flex ;
  align-items: center ;

  margin-left: 60px ;
}
.navbar-left {
  display: flex ;
  align-items: flex-end ;
}

.navbar-desktop-links > div {
  display: flex ;
  align-items: flex-end;

  margin: 0 13px ;
}

.navbar-desktop-links > div > a {
  margin-right: 6px ;
}

